    body{
        background-color: #7fb4fc !important;
        color: black!important;
    }

    .nav{
        border-right: 0px !important;
        padding: 10px 0 10px !important;
        background-color: #658499 !important;
    }

    .nb-7{
        margin-bottom: 7px !important;
    }

    .nt-5{
        margin-top: 5px !important;
    }

    .mymodal{
        height: 300px !important ;
        top:200px !important;
        font-size: 20px !important;
    }
    .nb-5{
        margin-bottom: 5px !important;
    }

    .w-big{
        width: 200px !important;
    }


    .bwhite-lg{
        background-color: transparent !important;
    }
    .bwhite-sm{
        background-color:transparent !important;
        width: 10px !important;

    }

    .comment-box{
        display:block;
    }



